<h1>Buscador API Empleados Oficio</h1>

<form #oficiosForm="ngForm">
    <label>Introduzca oficio: </label>
    <input type="text" class="form-control" #cajaoficio name="cajaoficio" />
    <button class="btn-success" (click)="buscarEmpleados()">Buscar empleados</button>
</form>
<hr/>

<div *ngIf="empleados.length > 0">
    <table class="table table-info">
        <thead>
            <tr>
                <th>APELLIDO</th>
                <th>SALARIO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of empleados">
                <td>{{ emp.apellido }}</td>
                <td>{{ emp.salario }}</td>
            </tr>
        </tbody>
    </table>
</div>


<form *ngIf="oficios.length > 0" #alloficiosForm="ngForm">
    <label>Introduzca Oficio</label><br/>
    <select name="cajaoficio"  id="oficios" (change)="buscarEmpleados2($event)" multiple>
        <option *ngFor="let v of oficios" value="{{ v }}">{{ v }}</option>
    </select>
</form>
<div *ngIf="empleadosDeLosOficios.length > 0">
    <table>
        <thead>
            <tr>
                <th>APELLIDO</th>
                <th>SALARIO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let v of empleadosDeLosOficios">
                <td>{{ v.apellido }}</td>
                <td>{{ v.salario }}</td>
                <td>{{ v.oficio }}</td>
            </tr>
        </tbody>
    </table>
</div>